body {
	background-image: url('new.png');
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* position: fixed; */
	overflow: hidden;
	border: 1px solid red;
	background-color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
}

li a.active {
	color: white;
	background-color: #4CAF50;
}

.required {
	color: red;
}

.image-preview {
	width: 300px;
	min-height: 100px;
	border: 2px solid #dddddd;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #cccccc;
}

.img {
	display: none;
	width: 100%;
}

#btn {
	background-color: #ddd;
}

._current {
	background-color: #ffe8df;
}

#up {
	text-align: center;
}

.rating {
	text-align: center;
}


/* Smartphones (portrait and landscape) ---------- */

@media screen and (min-width: 320px) and (max-width: 480px) {
	body {
		background: #7ce7e1;
	}
}


/* Smartphones (portrait) ---------- */

@media screen and (max-width: 320px) {
	body {
		background: #ffd280;
	}
}


/* Smartphones (landscape) ---------- */

@media screen and (min-width: 321px) {
	body {
		background: #9ddfbb;
	}
}


/* tablets, iPads (portrait and landscape) ---------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		background: #ffb497;
	}
}


/* tablets, iPads (portrait) ---------- */

@media screen and (min-width: 768px) {
	body {
		background: #f0e68c;
	}
}


/* tablets, iPads (landscape) ---------- */

@media screen and (min-width: 1024px) {
	body {
		background: #d6b3f4;
	}
}


/* Desktops and laptops ---------- */

@media screen and (min-width: 1224px) {
	body {
		background-image: url('new.png');
		background-repeat: no-repeat;
		background-size: cover;
		/* background: #d8ff9d; */
	}
}


/* Large screens ---------- */

@media screen and (min-width: 1824px) {
	body {
		background-image: url('5.jpg');
	}
}